<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nos Clients</title>
    <link rel="stylesheet" href="/css/client.css" />
  </head>
  <body>
    <% if(customer.length < 1){ %>
    <h1>aucun résultat exist</h1>
    <%} else{ %>
    <table>
      <thead>
        <tr>
          <th>Client</th>
          <th>Voiture</th>
          <th>Telephon</th>
          <th>Céllulaire</th>
        </tr>
      </thead>
      <tbody>
        <% for(let cust of customer){ %>
        <tr>
          <td><%= cust.client%></td>
          <td><%= cust.car%></td>
          <td><%= cust.tel%></td>
          <td><%= cust.cellulaire%></td>
        </tr>
        <% }} %>
      </tbody>
    </table>
  </body>
</html>
